@font-face {
  font-family: LeagueSpartan;
  src: url("/fonts/LeagueSpartan-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: LeagueSpartan;
  src: url("/fonts/LeagueSpartan-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: LeagueSpartan;
  src: url("/fonts/LeagueSpartan-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: Magilio;
  src: url("/fonts/MagilioRegular.otf");
  font-weight: 400;
}
